
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

/* BARRA MENU */

#menugeral {
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header .navbar-brand {
    color: rgb(114, 168, 60);
}

#header .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(108, 163, 53);
    border-bottom: solid 4px transparent;
    padding-left: 20px;
    padding-right: 20px;
}


#header .navbar-toggler{
    background-color: rgb(108, 163, 53);
    border: solid 4px rgb(255, 255, 255);
}

#header .nav-link:hover {
    border-bottom: solid 4px rgb(255, 255, 255);
    color: rgb(52, 73, 32);
}

/* SLIDER */

.container {
    margin-top: 10vh;
}


.carousel-inner,
.carousel-item {
    height: 100%;
}

h1 {
    font-family: fantasy;
    font-size: 100px;
}
h2{
    font-family: monospace;
}

/* descrição */

#modelovisao {
    margin: 14vh;
}
.titulo{
    color: rgb(108, 163, 53);
    font-weight: bolder;
    font-size: 50px;
    border-bottom: solid 5px rgb(255, 255, 255);
    border-top: solid 5px rgb(255, 255, 255);
    font-family: fantasy
}

.desc{
    margin-top: 05vh;
    color: white;
    font-size: 30px;
    font-family: fantasy;
    
}


/* RODAPÉ */


.baixe {
    border: none;
    border-radius: 16px;
    background-color: #a1054e;
    color: #fff;
    margin-top: 12%;   
}
.social{
    margin-top: 3%;

}

.facebook, .instagram, .twitter {
    font-size: 38px;
    color: #49c5db;
    transition: 0.2s;
    margin-top: 12%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.social a:hover {
    text-decoration: none;
}
.facebook:hover {
    color: #1161a7;
}

.instagram:hover {
    color: rgb(207, 22, 192);
}

.twitter:hover {
    color: #00aced;
}

.contato {
    border: none;
    border-radius: 16px;
    background-color: #a1054e;
    color: #fff;
     /* width: 20%;  */
     margin-top: 12%; 
    /* padding-right: 50; */ */
}

article {
    background-color: #525252;
    height: 100px;

}

footer p {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 16px;
    width: 100%;

} 


