
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

/* BARRA MENU */

#menugeral {
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#header .navbar-brand {
    color: rgb(114, 168, 60);
}

#header .nav-link {
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(108, 163, 53);
    border-bottom: solid 4px transparent;
    padding-left: 20px;
    padding-right: 20px;
}


#header .navbar-toggler{
    background-color: rgb(108, 163, 53);
    border: solid 4px rgb(255, 255, 255);
}

#header .nav-link:hover {
    border-bottom: solid 4px rgb(255, 255, 255);
    color: rgb(52, 73, 32);
}

/* CABEÇALHO */
#inicio {
    width: 100%;
    background-color: rgb(140, 170, 121);
    margin-top: 10vh;
}

#inicio .titulo {
    padding-top: 1vh;
    color: rgb(2, 2, 2);
    font-size: 35px;
    font-weight: bolder;
    font-family: fantasy;
}

/* BENEFICIOS */
#beneficios .text {
    padding-left: 7vw;
    padding-top: 1vh;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    font-family: fantasy;
    
 }
 .principal {
     color: rgb(65, 203, 207);
     font-weight: bold;
     font-size: 2vw;
     font-family: fantasy;
 }
 
 /* SEJA PREMIUM */
 #assine {
    width: 100%;
    background-color: rgb(140, 170, 121);
    text-align: center;
}

.btn1 {
    background-color: rgb(53, 164, 184);
    color: white;
    margin-top: 2vh;
    width: 50%;
}

 div p {
    font-size: 15px;
    color: white;
    padding-bottom: 2vh;
}


 /* RODAPÉ */
section {
    background-color: #525252;
    width: 100%;
    height: 8vh;
}


.baixe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-radius: 16px;
    background-color: #a1054e;
    color: #fff;
    padding: 4px 32px;
    width: 45%;
    margin: 10px;
}
.social{
    display: inline-block;
}

.facebook, .instagram, .twitter {
    font-size: 32px;
    color: #49c5db;
    padding: 10vw;
    transition: 0.2s;
    size: 2;
    
}

.social a:hover {
    text-decoration: none;
}
.facebook:hover {
    color: #1161a7;
}

.instagram:hover {
    color: rgb(207, 22, 192);
}

.twitter:hover {
    color: #00aced;
}

.contato {
    border: none;
    border-radius: 16px;
    background-color: #a1054e;
    color: #fff;
    padding: 4px 32px;
    width: 50%;
    margin: 10px;
}


footer p {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 16px;
    margin: 0;
}












/* FOOTER
footer {
    background-color: #242424;
}

.div1,
.div2 {
    width: 500px;
}

.div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
}

.div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu:first-child{
    margin-right: 50px;
    margin-left: 50px;


}

footer section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    flex-wrap: wrap;
}

footer section .baixe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

footer section .baixe button {
    border: none;
    border-radius: 4px;
}

footer section .baixe button:last-child {
    margin-top: 16px;
}


footer section .menu {
    display: flex;
    justify-content: space-between;
    width: 13%;
    color: #28ff56;
}

footer section .menu ul {
    list-style: none;
    padding: 0;
}

footer section .menu ul li:first-child {
    color: #fff;
}

footer section .social {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer section .social div:first-child {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

footer section .social i {
    font-size: 32px;
    color: #44bfd4;
}

footer section .social div:last-child {
    margin-top: 32px;
}

footer section .social button {
    border: none;
    border-radius: 16px;
    background-color: #ff4848;
    color: #fff;
    padding: 4px 32px;
}

footer section .social button:hover {
    background-color: #ff1818;
}

footer p {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 16px;
    margin: 0;
}

@media(max-width: 996px) {
    .div1,
    .div2 {
        width: 100%;
    }

    .div1 {
        margin-bottom: 32px;
    }

    .div2 {
        justify-content: space-around;
    }

    footer section .social {
        width: 50%;
        display: flex;
        align-items: flex-end;
    }

    footer section .social div:first-child {
        width: 30%;
    }
}

@media(max-width: 600px) {
    .div1,
    .div2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }

    footer section .menu {
        width: 100%;
        justify-content: space-around;
    }

    footer section .social {
        align-items: center;
        width: 100%;
    }

    footer section .baixe {
        width: 75%;
    }

    footer section .consulte {
        margin-bottom: 32px;
        width: 85%;
    }

    footer section .social div:first-child {
        width: 80%;
    }
} */